node_modules/
dist/
.astro/
out/
cache/
.env
**/.env
*.env.local

# Build outputs
**/dist/
**/.vercel/output/
pnpm-lock.yaml
packages/contracts/lib/
packages/contracts/out/
packages/contracts/cache/
packages/contracts/broadcast/
packages/contracts/deploy-output.txt
.turbo/
