# PUBLIC_API_URL=https://autoyieldbackend-production.up.railway.app
PUBLIC_API_URL=3001
PUBLIC_WALLETCONNECT_PROJECT_ID=

# Contract addresses (Base Sepolia — from deploy output)
PUBLIC_AGENT_POLICY_ADDRESS=0xA6ba2CF98B043eA522650535B56Be9bE46371f88
PUBLIC_AAVE_ADAPTER_ADDRESS=0x4071DdCe831E484640e864a8627cc3ece308e895
PUBLIC_MORPHO_ADAPTER_ADDRESS=0xf9B035426d2A16EF00F0547dc0F4Ed9226D2671d
